<div class="columns is-centered mt-6">
    <div class="column is-half">
        <% @entries.each do |day, entries| %>
            <h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered mt-6">
                Entries for <%= day %>
            </h3>

            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Track Time
                        </p>
                        <p class="title">
                            <%= entries.pluck(:track_time).sum %>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Miles Driven
                        </p>
                        <p class="title">
                            <%= entries.pluck(:miles_driven).sum %>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Average Position
                        </p>
                        <p class="title">
                            <%= entries.pluck(:finish_position).sum / entries.count %>
                        </p>
                    </div>
                </div>
            </nav>

            <% entries.each do |entry| %>
                <%= link_to entry_path(entry) do %>
                    <div class="card">
                        <div class="card-content">
                            <strong><%= entry.track_name %></strong>
                            <%= entry.track_time %> Minutes,
                            <%= entry.miles_driven %> Miles,
                            Position <%= entry.finish_position %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
